#bckgrd{
    background: url(pixel.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#jumbotxt{
    color:white;
}
body{
    padding-top: 75px;

                             
}

.imgfix{
    width: 18rem;
    

}
p{
    margin-bottom: 0;
    margin-top: 0;
}


.cards{
    margin-bottom: 2.5rem;
}
.resume{
    padding: 2rem 4rem 2rem 4rem;
}
